.footer h2 {
	font-size: 1.3em;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 15px;
}


#contact-info {
  text-align: center;
  a {
    color: #58595b;
  }
  @media (min-width: @screen-sm) {
    border-right: 1px solid #ddd;
  }
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 875px;
  @media (min-width: @screen-sm) {
  	margin-bottom: 300px;
  }
}

.footer {
  p {
    font-family: @Montserrat;
    color: #58595b;
    font-size: 0.85em;
    line-height: 1.3em;
  }
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 875px;
  background-color: #d2d2d2;
  background-image: url('images/diagonal-noise.png');
  @media (min-width: @screen-sm) {
  	height: 300px;
   	#contact-info {
   		text-align: left;
   	}
    .footer-sponsor {
      text-align: right;
    }
  }
  @media (max-width: 992px) {
  	.footer-sponsor h2 {
  		margin-top: 1.5em;
  	}
  }
}

#footer-content {
	text-align: center;
	padding-top: 0.5em;
}


#slf-logo {
  padding: 0;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: @screen-sm) {
    margin-left: 0;
  }
}


#participant-partner {
  border-right: 1px solid #ddd;
  @media (min-width: @screen-sm) {
    height: 276px;
  }
  @media (min-width: @screen-md) {
    height: 246px;
  }
}


#presenting-sponsor,
#participant-partner,
#lead-sponsors {
  border-top: 1px solid #ddd;
  @media (min-width: @screen-sm) {
    border-top: none;
  }
  padding-bottom: 0.5em;
  h2 {
    font-size: 1.1em;
    @media (max-width: @screen-md) {
      font-size: 0.9em;
    }
  }
}

#lead-sponsors {
  #lead-sponsors-row-1 {
    @media (min-width: @screen-sm) {
      margin-top: 10%;
    }
  }
  #lead-sponsors-row-2 {
    @media (min-width: @screen-sm) {
      margin-top: 15px;
    }
  }
  #diamante {
    img {
      @media (min-width: @screen-sm) {
        .pull-right;
        margin-top: -8px;
      }
    }
  }
}

#copyright {
  border-top: 1px solid #ddd;
  padding-top: 1.2em;
  text-align: center;
  @media (min-width: @screen-sm) {
    border: none;
    text-align: left;
    margin-top: -20px;
  }
}