
@media (max-width:768px) {
	.city-widget {
		margin-bottom: 10px;
	}
}

#front-page-sidebar {
	border-top: 1px solid @pantone208;
	margin-top: 70px;
	padding-top: 30px;
	margin-bottom: -70px;
}

@media (min-width: @screen-sm) {
	#front-page-sidebar {
		border-top: none;
		border-left: 1px solid @pantone208;
		margin-top: 30px;
		padding-top: 5px;
		padding-right: 0;
	}
}

#front-page-content {
	padding-right: 25px;
	margin-bottom: -45px;
	h1 {
		text-align:left;
		@media (max-width: @screen-sm) {
			margin-bottom: 0.5em;
			margin-top: -0.18em;
		}
	}
}

.main-content {
	//border-top: 1px solid rgba(134, 31, 65, 0.3);	
	padding-top: 0px;
	margin-top: 15px;
}

hr {
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(134, 31, 65,0), rgba(134, 31, 65,0.75), rgba(134, 31, 65,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}