.jumbotron {
	@media(min-width: @screen-sm) {
		//background-image: url('images/bg_swirl_pattern.png');
		background-repeat: repeat;
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: 0;
		//height: 200px;
	}
	@media(min-width: @screen-sm) {
		//background-position: 50% 100%;
		background-color: #fff;
	}
	@media(min-width: @screen-md) {
		//height: 290px;
		background-position: 45% 100%;
	}
	@media(min-width: 1300px) {
		//height: 260px;
	}
	background-color: @pantone208;
}

.jumbotron .container {
	max-width: 1030px;
	margin-top: 80px;
}

.header-hor {
	display:none;
	@media(min-width: 481px) and (max-width: @screen-sm) {
		display: block;
	}
}

.header-ver {
	@media(max-width: @screen-xs) {
		display: block;
	}
	display:none;
}

#tagline {
	margin-top: 4%;
	img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}