.jumbotron {
	background-color: @pantone208;
	background-image: url('images/bg_jumbotron_sm.jpg');
	background-size: cover;
	box-shadow: 0 0 3px 1px #939598;
	@media(min-width: @screen-sm) {
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: 0;

	}
	@media(min-width: 481px) {
		background-image: url('images/bg_jumbotron.jpg');
	}
	@media (min-width: @screen-sm) {
		padding-bottom: 1.5%;
	}
}

.jumbotron .container {
	max-width: 1030px;
	margin-top: 80px;
	padding: 0;
}

.header-hor {
	display:none;
	@media(min-width: 481px) and (max-width: @screen-sm) {
		display: block;
	}
}

.header-ver {
	@media(max-width: @screen-xs) {
		display: block;
	}
	display:none;
}

#tagline {
	margin-top: 3%;
	img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: @screen-md) {
		margin-top: 4%;
	}
}