body {
  padding-bottom: 80px;
}

html {
  position: relative;
  min-height: 100%;
  -webkit-text-size-adjust: none;
}

.container {
	max-width: 1030px;
}


/* Add top margin to navbar when WP user is logged in and WP admin bar is showing */
.admin-bar .navbar-fixed-top {
	margin-top: 32px;
}

/*Typography*/
p {
	font-family: @DroidSerif;
	font-size: 1.2em;
	line-height: 1.7em;
	margin-bottom: 1em;
	@media (min-width: @screen-md) {
		font-size: 1.35em;
	}
}

h1 {
	font-family: @DroidSerif;
	font-style: italic;
	font-size: 3.2em;
	margin-bottom: 0.5em;
	color: @pantone208;
	text-align: center;
	@media (max-width: 768px) {
		font-size: 2.6em;
		margin-bottom: 0px;
	}
}

h2 {
	font-family: @Montserrat;
	margin-top: 1em;
}

h3 {
	font-family: @DroidSerif;
	font-size: 1.4em;
	line-height: 1.3em;
}

h4 {
	font-family: @DroidSerif;
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 15px;
}

.nowrap {
    white-space: nowrap;
}