.navbar {
	font-family: @Montserrat;
	font-size: 1.1em;
	li a {
			color: #000;
		}
	@media (min-width: @screen-sm) {
		background-color: @pantone208;
		//background-image: url('images/bg.png');
		box-shadow: 0 0 2px 1px #282828;
		margin-bottom: -20px;
		li a {
			color: #fff;
		}
		li a:hover {
			background-color: @pantone208;
			color: #390818;
		}
		.navbar-brand, .navbar-brand-sm {
			padding-left: 0;
		}
		#navbar-logo {
			width: 280px;
		}
	}
	@media (min-width: @screen-sm) and (max-width: @screen-md) {
		font-size: 0.92em;
		li a {
			margin-left: -8px;
		}
		.navbar-brand-sm {
			width: 270px;
		}
	}
	@media (min-width: @screen-md){
		.navbar-brand-sm {
			width: 400px;
		}
		#navbar-logo {
			width: 400px;
		}
	}
	@media (min-width: 1300px) {
		.navbar-brand {
			width: 420px;
		}
		.navbar-brand-sm {
			width:  270px;
		}
	}
	background-color: #fff;
	@media (max-width: @screen-md) {
		border-bottom: 1px solid @pantone208;
	}
}

.admin-bar .navbar-fixed-top {
	margin-top: 0px;
}

.navbar-fixed-top {
	height: 80px;
	@media (min-width: @screen-sm) {
		position: relative;
		margin-bottom: -80px;
	}
}

.navbar .container {
	margin-top: 15px;
}

.navbar-collapse {
	@media(max-width:768px) {
		background-color: #eee;
		background-image: url('images/diagonal-noise.png');
	}
}

.navbar-brand,
a.navbar-brand {
	@media (min-width: @screen-sm) {
		color: #fff;
	}
	color: #000;
}

#name {
	@media (min-width: @screen-sm) {
		display:none;
	}
}

#navbar-logo {
	display: none;
	@media (min-width: @screen-sm) {
		display: block;
	}
}


.navbar-brand {
  @media (min-width: 768px) {
	  width: 400px;
	  margin-top:-20px;
	  display: inline-block;
	  position: absolute;
	  z-index: 1000;
	  float: left;
	  padding: 15px 15px;
	  font-size: 18px;
	  line-height: 20px;
	}
}

.navbar-brand > img {
  display: block;
  width: 100%;
  margin-left: 5px;
}


.icon-bar {
	background-color: #000;
}



/* Active Links and Menu Items*/ 

.current-menu-item > a, .current-menu-parent > a {
	font-style: italic;
}
.current-menu-parent li a {
	background: inherit;
}
.current-menu-parent .current-menu-item a {
	font-weight: normal;
	font-style: italic;
}
.current-menu-parent .current-menu-item a:hover {
	text-decoration: none;
}

@media (min-width: @screen-sm) {
	.nav >li > a:focus {
		background-color: @pantone208 !important;
	}
}

/* Drop-down menus */

.sub-menu {
	li {
		margin-bottom: 10px;
		list-style: none;
		display: block;
	}
	li:last-child {
		margin-bottom: 0;
	}
	a {
		color: #000;
		text-decoration: none;
	}
	@media (min-width:@screen-sm) {
		background: #eee;
		display: none;
		position: absolute;
		background: #222;
		padding: 10px 15px;
		width: 80px;
		margin-left: 10px;
		padding-left: 17px;
	}
	@media (min-width: @screen-md) {
		padding-left: 15px;
		margin-left: 20px;
		width: 108px;
	}
}

@media (min-width:@screen-sm) {
	li:hover .sub-menu {
		display: block;
		background-color: @pantone208;
	}
	.sub-menu a:hover {
		color: #fff;
	}
}


#menu-item-25 a:hover{
	cursor: context-menu;
}

#menu-item-23,
#menu-item-38,
#menu-item-37 {
	a:hover {
		cursor: pointer;
	}
}