.page-header {
	border: none;
	margin-bottom: -15px;
	margin-top: -20px;
	@media (min-width: @screen-md) {
		margin-top: 30px;
	}
}

.page-container {
	margin-top: -35px;
	margin-bottom: -85px;
	@media (min-width: @screen-sm) {
		margin-bottom: -45px;
	}
	h1 {
		@media (max-width: @screen-sm) {
			margin-bottom: 10px;
		}
		@media (min-width: @screen-sm) {
			border-bottom: 1px solid @pantone208;
			padding-bottom: 0.4em;
		}
	}
	h2 {
		font-size: 2.6em;
		margin-top: 0.6em;
		margin-bottom: -0.5em;
		text-align: center;
		@media (max-width: @screen-sm) {
			margin-bottom: -0.25em;
		}
	}
	h3 {
		font-family: @Montserrat;
	}
}

@media (min-width: @screen-sm) {
	#page-text {
		border-top: 1px solid @pantone208;
		padding-top: 1%;
	}
}

.page-main-content {
	margin-top: 160px;
	margin-bottom: 0;
	@media (min-width: @screen-md) {
		margin-top: 40px;
	}
	h2 {
		text-align: center;
		font-size: 1.9em;
		margin-top: 25px;
		margin-bottom: 15px;
		@media (min-width: @screen-sm) {
			text-align: left;
		}
	}
	ul {
		font-family: 'Droid Serif', "Cambria", "Lucida Bright", "Times New Roman", serif;
		margin-left: 15px;
		padding-left: 0px;
		font-size: 1.2em;
	}
	li {
		margin-bottom: 10px;
	}
	a {
		color: #861f41;
	}
	a:hover {
		text-decoration: underline;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.page-main-content {
    	@media (min-width: @screen-md) {
    		margin-top: 110px;
		}
	}
}

.main-content {
	margin-top: 20px;
}

@media (min-width:992px) {
	.page-text {
		max-width: 82%;
		margin-left: auto;
		margin-right: auto;
	}
}

.date-feature {
	border-bottom: 1px solid @pantone208;
	text-align: left;
	margin-top: -45px;
	padding-bottom: 10px;
	h3 {
		font-size: 2em;
		@media (max-width: @screen-sm) {
			font-size: 1.8em;
		}
	}
	h4 {
		font-size: 1.8em;
		@media (max-width: @screen-sm) {
			font-size: 1.4em;
		}
	}
}

.date-img {
	text-align: left;
	margin-left: 80px;
	padding-top: 10px;
	display: none;
	@media (min-width: @screen-md) {
		display: flex;
		.city-img {
			margin: auto;
		}
	}
}

.date-details {
	text-align: center;
}

.date-description {
	margin-top: -30px;
	@media (min-width: @screen-md) {
		margin-top: 0;
	}
}


@media(max-width:768px) {
	.speaker {
		margin-top: -60px;
	}
}

.speaker-name {
	font-family: @Montserrat;
	margin-top: 0px;
	text-align: center;
	@media (min-width:768px) {
		text-align: left;
	}
	@media (max-width:768px) {
		margin-top: -25px;
	}
}

.speaker-title {
	font-family: @Montserrat;
	font-style: italic;
	margin-bottom: 20px;
	text-align: center;
	@media (min-width:768px) {
		text-align: left;
	}
}

.speaker-img {
	display: block;
	border-radius: 200px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 2px 1px #eee;
	margin-top: -15px;
	@media (min-width:768px) {
		display: inline-block;
		margin: auto;
	}
}

.city-img {
	border-radius: 200px;
	box-shadow: 0 0 2px 1px #d4d4d4;
	width: 70%;
	margin: auto;
}

.sidebar-img {
	border-radius: 300px;
	box-shadow: 0 0 2px 1px #d4d4d4;
}

.well {
	background-color: transparent;
	box-shadow: none;
	border: none;
	padding: 0;
}

.sidebar {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	img {
		margin-left: auto;
		margin-right: auto;
	}
	.btn-default {
		width: 100%;
		margin-bottom: 5px;
	}
	ul {
		padding-left: 15px;
  		font-family: 'Droid Serif', "Cambria", "Lucida Bright", "Times New Roman", serif;
	}
	li {
		margin-top: 15px;
	}
	@media (min-width: @screen-sm) {
		margin-top: -10px;
		border-left: 1px solid #ddd;
		padding-top: 0;
		border-top: none;
		.btn-default {
			font-size: 0.8em;
			margin-bottom: 10px;
		}
	}
	@media (min-width: @screen-md) {
		padding-left: 30px;
	}
}

.section {
	border-bottom: 1px solid #ddd;
	padding-top: 0px;
	@media (min-width: @screen-sm) {
		padding-bottom: 15px;
		margin-top: -30px;
	}
}

.section-last {
	border-bottom: none;
	@media (min-width: @screen-sm) {
		padding-bottom: 15px;
		padding-top: 0px;
		margin-top: 0;
	}
}

.about-sidebar {
	margin-top: -20px;
	border-top: none;
	img {
		display: block;
	}
}

.city-row {
	@media (min-width: @screen-sm) {
		margin-top: 15px;
		padding-bottom:30px;
		h2 {
			margin-top: 15px;
		}
	}
}

.city-col {
	border-top: 1px solid #ddd;
	padding-bottom: 15px;
	@media (min-width: @screen-sm) {
		margin-top: -30px;
		border-left: 1px solid #ddd;
		border-top: none;
		padding-bottom: 0;
	}
}

.city-col-first {
	@media (min-width: @screen-sm) {
		border-left: none;
	}
}

.img-shadow {
	box-shadow: 0 0 5px 1px rgba(0,0,0,.25);
}

.img-border {
	box-shadow: 0 0 0 2px rgba(134, 31, 65, 1);
}