/*Srizon Responsive YouTube Album Plugin Styles*/

.titlebelowthumb {
	font-family: @Montserrat;
}

.srizon-yt-container {
	margin-bottom: -100px;
}

.elastislide-wrapper nav span {
	background-color: @pantone208;
}