.widget {
	margin: 0;
	padding: 0px;
}

.front-widget {
	padding: 0;
	margin: 0;
}

.front-widget-inner {
	padding: 0;
	@media (min-width: @screen-md) {
		padding-left: 10px;
	}
	width: 100%;
}

#front-page-sidebar img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#front-page-sidebar h2 {
	margin-bottom: 5px;
	margin-top: 0;
	padding-top: 0;
	font-size: 1.4em;
	text-align: center;
	@media (min-width: @screen-sm) {
		text-align: left;
		margin-top: 0px;
	}
	line-height: 1.4em;
	color: @secondary;
}



