.widget {
	margin: 0;
	padding: 0px;
}

.front-widget {
	padding: 0;
	margin: 0;
}

.front-widget-inner {
	padding: 0;
	@media (min-width: @screen-md) {
		padding-left: 10px;
	}
	width: 100%;
	hr {
		width: 80%;
	}
}

#front-page-sidebar h2 {
	margin-top: 5px;
	margin-bottom: 30px;
	font-size: 1.6em;
	text-align: center;
	@media (min-width: @screen-md) {
		text-align: left;
	}
	line-height: 0.3em;
	color: @secondary;
}


#front-page-sidebar h3 {
	font-size: 1.2em;
}

